/*глобальная стилизация*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    /*убираем Overscroll*/
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: manipulation; /* Улучшает работу жестов в Web App */
}

/*Включение прокрутки там где это нужно*/
.scrollable {
    overflow-y: auto !important;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

